
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-7-asq {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-29-JYw {
    width: 133.4rem;
    height: 5.7rem;
    position: absolute;
    left: 10.6rem;
    top: 0;
    background-color: #181818;
  }
  .rectangle-29-qom {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 11rem;
    height: 5.7rem;
    position: absolute;
  }
  .login-or-create-account-yQB {
    color: #fffcfc;
    height: 4.9rem;
    left: 128rem;
    top: 0.9rem;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2125;
    width: 14.5rem;
    position: absolute;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-30-fno {
    width: 144rem;
    height: 96.7rem;
    position: absolute;
    left: 0;
    top: 5.7rem;
    background-color: #000000;
  }
  .rectangle-31-p9u {
    position: absolute;
    left: 0;
    top: 6rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 30.6rem;
  }
  .rectangle-33-M9q {
    width: 110.1rem;
    height: 12.2rem;
    position: absolute;
    left: 16.9rem;
    top: 30.5rem;
    background-color: #3a3e3e;
    border-radius: 0.6rem;
  }
  .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF {
    width: 103.7rem;
    height: 12.7rem;
    left: 20.3rem;
    font-weight: 900;
    line-height: 1.2125;
    color: #ffffff;
    position: absolute;
    top: 32.8rem;
    font-size: 3.2rem;
    font-family: Inter, 'Source Sans Pro';

    .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF-sub-0 {
    }
    .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF-sub-1 {
      font-size: 2rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF-sub-2 {
    }
  }
  .rectangle-34-W4f {
    width: 110.1rem;
    height: 53.1rem;
    position: absolute;
    left: 16.9rem;
    top: 46rem;
    background-color: #3d0a0a;
    border-radius: 0.8rem;
  }
  .rectangle-36-EFZ {
    height: 21.3rem;
    position: absolute;
    left: 23.2rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
  }
  .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy {
    height: 9.3rem;
    left: 25.1rem;
    top: 64.8rem;
    color: #ffffff;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 22.2rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;

    .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy-sub-0 {
    }
    .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy-sub-1 {
      font-size: 1.1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy-sub-2 {
    }
  }
  .rectangle-37-dBD {
    left: 93.6rem;
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
  }
  .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh {
    font-weight: 900;
    line-height: 1.2125;
    color: #ffffff;
    width: 24.7rem;
    height: 8.8rem;
    position: absolute;
    top: 89.7rem;
    left: 96rem;
    font-size: 1.6rem;
    font-family: Inter, 'Source Sans Pro';

    .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh-sub-0 {
    }
    .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh-sub-2 {
    }
  }
  .rectangle-38-hio {
    height: 21.3rem;
    position: absolute;
    left: 58.4rem;
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
  }
  .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM {
    width: 24.4rem;
    left: 61.2rem;
    font-size: 1.6rem;
    font-family: Inter, 'Source Sans Pro';
    height: 8.8rem;
    position: absolute;
    top: 89.7rem;
    font-weight: 900;
    line-height: 1.2125;
    color: #ffffff;

    .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM-sub-0 {
    }
    .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM-sub-2 {
    }
  }
  .rectangle-39-Ekf {
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 23.2rem;
  }
  .rectangle-40-AuD {
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
    top: 51.2rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
  }
  .savitri-temple-WCP {
    left: 96.2rem;
    top: 64.8rem;
    width: 22.7rem;
    height: 7.8rem;
    position: absolute;

    .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH {
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      max-width: 24.7rem;

      .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH-sub-0 {
      }
      .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH-sub-1 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 900;
        line-height: 1.2125;
      }
      .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH-sub-2 {
      }
    }
  }
  .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV {
    width: 23.9rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 6.8rem;
    left: 25.5rem;
    top: 89.7rem;
    color: #ffffff;

    .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV-sub-0 {
    }
    .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .rectangle-41-9Rh {
    position: absolute;
    left: 58.4rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
  }
  .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd {
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 21.4rem;
    left: 60.3rem;
    top: 64.8rem;
    font-weight: 900;
    color: #ffffff;
    height: 8.8rem;
    position: absolute;
    font-size: 1.6rem;

    .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd-sub-0 {
    }
    .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd-sub-2 {
    }
  }
  .rectangle-35-wF5 {
    top: 7.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.6rem;
    width: 30.3rem;
    height: 19.3rem;
    position: absolute;
    left: 96.7rem;
  }
  .rectangle-42-FmZ {
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
  }
  .rectangle-43-nWb {
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 95.6rem;
    top: 77rem;
    object-fit: cover;
  }
  .rectangle-44-tpX {
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 60.3rem;
    top: 77rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-45-ogb {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
    top: 77rem;
  }
  .rectangle-46-8D5 {
    position: absolute;
    left: 95.6rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
  }
  .rectangle-47-r95 {
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 60.3rem;
    top: 52rem;
    object-fit: cover;
  }
}
