
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-UhM {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-29-oDq {
    width: 133.4rem;
    height: 5.7rem;
    position: absolute;
    left: 10.6rem;
    top: 0;
    background-color: #181818;
  }
  .rectangle-29-unf {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 11rem;
    height: 5.7rem;
    position: absolute;
    left: 0;
  }
  .login-or-create-account-3ts {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2125;
    color: #fffcfc;
    font-family: Inter, 'Source Sans Pro';
    width: 14.5rem;
    height: 4.9rem;
    cursor: pointer;
    position: absolute;
    left: 128rem;
    top: 0.9rem;
  }
  .rectangle-30-jmh {
    left: 0;
    top: 5.7rem;
    background-color: #000000;
    width: 144rem;
    height: 96.7rem;
    position: absolute;
  }
  .rectangle-31-H2X {
    position: absolute;
    left: 0;
    top: 6rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 30.6rem;
  }
  .rectangle-33-R8j {
    border-radius: 0.6rem;
    width: 110.1rem;
    height: 12.2rem;
    position: absolute;
    left: 16.9rem;
    top: 30.5rem;
    background-color: #3a3e3e;
  }
  .rectangle-34-9qR {
    position: absolute;
    left: 0;
    top: 44.7rem;
    background-color: #3d0a0a;
    border-radius: 0.8rem;
    width: 110.1rem;
    height: 53.1rem;
  }
  .rectangle-36-tHD {
    left: 23.2rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
  }
  .prem-mandir-built-on-a-54-acre-land-and-about-125-feet-high-this-temple-is-one-of-the-most-popular-attractions-of-the-town-dedicated-to-radha-krishna-and-ram-sita-cyu {
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 20.5rem;
    height: 8.8rem;
    position: absolute;
    left: 25.1rem;
    top: 64.5rem;
    font-size: 1.6rem;
    font-weight: 900;
    color: #ffffff;

    .prem-mandir-built-on-a-54-acre-land-and-about-125-feet-high-this-temple-is-one-of-the-most-popular-attractions-of-the-town-dedicated-to-radha-krishna-and-ram-sita-cyu-sub-0 {
    }
    .prem-mandir-built-on-a-54-acre-land-and-about-125-feet-high-this-temple-is-one-of-the-most-popular-attractions-of-the-town-dedicated-to-radha-krishna-and-ram-sita-cyu-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .prem-mandir-built-on-a-54-acre-land-and-about-125-feet-high-this-temple-is-one-of-the-most-popular-attractions-of-the-town-dedicated-to-radha-krishna-and-ram-sita-cyu-sub-2 {
    }
  }
  .rectangle-37-GBH {
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
  }
  .banke-bihari-temple-established-by-swami-haridas-a-spiritual-poet-and-classical-musician-this-temple-depicts-lord-krishna-in-the-form-of-a-child-ie-nand-gopal-C4w {
    width: 22.8rem;
    position: absolute;
    left: 95.6rem;
    top: 90.1rem;
    line-height: 1.2102272034;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 5.6rem;
    font-size: 1.5rem;
    font-weight: 900;

    .banke-bihari-temple-established-by-swami-haridas-a-spiritual-poet-and-classical-musician-this-temple-depicts-lord-krishna-in-the-form-of-a-child-ie-nand-gopal-C4w-sub-0 {
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .banke-bihari-temple-established-by-swami-haridas-a-spiritual-poet-and-classical-musician-this-temple-depicts-lord-krishna-in-the-form-of-a-child-ie-nand-gopal-C4w-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .rectangle-38-bWP {
    height: 21.3rem;
    position: absolute;
    left: 58.4rem;
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
  }
  .rectangle-39-umy {
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 23.2rem;
    top: 75.9rem;
    background-color: #2e2929;
  }
  .rectangle-40-eDm {
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
    top: 51.2rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
  }
  .rectangle-41-a7R {
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 58.4rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
  }
  .rectangle-35-hhq {
    top: 7.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.6rem;
    width: 30.3rem;
    height: 19.3rem;
    position: absolute;
    left: 96.7rem;
  }
  .rectangle-42-pnT {
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
    top: 52rem;
    object-fit: cover;
  }
  .rectangle-43-x7y {
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 95.6rem;
    top: 77rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
  }
  .rectangle-44-GuM {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 60.3rem;
    top: 77rem;
  }
  .rectangle-45-av3 {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
    top: 77rem;
  }
  .radha-vallabh-mandir-radha-vallabh-mandir-is-a-sacred-hindu-temple-located-in-mathura-dedicated-to-the-divine-couple-radha-and-krishna-known-for-its-beautiful-architecture-and-spiritual-atmosphere-7f5 {
    width: 23.8rem;
    position: absolute;
    font-weight: 900;
    color: #ffffff;
    height: 6.8rem;
    left: 24.5rem;
    top: 89.4rem;
    font-size: 1.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';

    .radha-vallabh-mandir-radha-vallabh-mandir-is-a-sacred-hindu-temple-located-in-mathura-dedicated-to-the-divine-couple-radha-and-krishna-known-for-its-beautiful-architecture-and-spiritual-atmosphere-7f5-sub-0 {
    }
    .radha-vallabh-mandir-radha-vallabh-mandir-is-a-sacred-hindu-temple-located-in-mathura-dedicated-to-the-divine-couple-radha-and-krishna-known-for-its-beautiful-architecture-and-spiritual-atmosphere-7f5-sub-1 {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 900;
    }
  }
  .rectangle-46-Amm {
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 95.6rem;
  }
  .rectangle-47-uUT {
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 60.1rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
  }
  .mathura-famous-as-the-birthplace-of-lord-krishna-and-one-among-the-7-holy-cities-for-hindus-this-city-alongside-the-yamuna-river-is-an-important-pilgrimage-site-SjH {
    position: absolute;
    left: 19.7rem;
    top: 32.2rem;
    font-weight: 900;
    font-family: Inter, 'Source Sans Pro';
    width: 101.8rem;
    height: 8.8rem;
    font-size: 3.2rem;
    line-height: 1.2125;
    color: #ffffff;

    .mathura-famous-as-the-birthplace-of-lord-krishna-and-one-among-the-7-holy-cities-for-hindus-this-city-alongside-the-yamuna-river-is-an-important-pilgrimage-site-SjH-sub-0 {
    }
    .mathura-famous-as-the-birthplace-of-lord-krishna-and-one-among-the-7-holy-cities-for-hindus-this-city-alongside-the-yamuna-river-is-an-important-pilgrimage-site-SjH-sub-1 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
  .mathura-museum-constructed-in-1874-this-government-museum-has-a-fine-collection-of-art-paintings-transcripts-and-ancient-pottery-dating-back-to-the-3rd-century-7D9 {
    left: 96rem;
    top: 64.1rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 22.8rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.2125;
    height: 6.8rem;

    .mathura-museum-constructed-in-1874-this-government-museum-has-a-fine-collection-of-art-paintings-transcripts-and-ancient-pottery-dating-back-to-the-3rd-century-7D9-sub-0 {
    }
    .mathura-museum-constructed-in-1874-this-government-museum-has-a-fine-collection-of-art-paintings-transcripts-and-ancient-pottery-dating-back-to-the-3rd-century-7D9-sub-1 {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 900;
    }
  }
  .jai-gurudev-mandir-jai-gurudev-mandir-is-a-prominent-temple-and-spiritual-centre-located-in-mathura-dedicated-to-the-revered-spiritual-leader-jai-gurudev-yuZ {
    height: 5.6rem;
    top: 89.4rem;
    font-weight: 900;
    line-height: 1.2125;
    width: 22.7rem;
    position: absolute;
    left: 60.1rem;
    font-size: 1.6rem;
    color: #f9f6f6;
    font-family: Inter, 'Source Sans Pro';

    .jai-gurudev-mandir-jai-gurudev-mandir-is-a-prominent-temple-and-spiritual-centre-located-in-mathura-dedicated-to-the-revered-spiritual-leader-jai-gurudev-yuZ-sub-0 {
    }
    .jai-gurudev-mandir-jai-gurudev-mandir-is-a-prominent-temple-and-spiritual-centre-located-in-mathura-dedicated-to-the-revered-spiritual-leader-jai-gurudev-yuZ-sub-1 {
      font-weight: 900;
      line-height: 1.2125;
      color: #f9f6f6;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
    }
  }
}
