
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-tuM {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .rectangle-29-QMu {
    background-color: #181818;
    width: 133.4rem;
    height: 5.7rem;
    position: absolute;
    left: 10.6rem;
    top: 0;
  }
  .rectangle-29-LFZ {
    width: 11rem;
    height: 5.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .login-or-create-account-g4X {
    font-weight: 200;
    line-height: 1.2125;
    color: #fffcfc;
    width: 14.5rem;
    left: 128rem;
    font-size: 2rem;
    top: 0.9rem;
    font-family: Inter, 'Source Sans Pro';
    height: 4.9rem;
    cursor: pointer;
    position: absolute;
  }
  .rectangle-30-NT9 {
    top: 5.7rem;
    background-color: #000000;
    width: 144rem;
    height: 96.7rem;
    position: absolute;
    left: 0;
  }
  .rectangle-31-hkK {
    position: absolute;
    left: 0;
    top: 6rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 30.6rem;
  }
  .rectangle-33-qrX {
    width: 110.1rem;
    height: 12.2rem;
    position: absolute;
    left: 16.9rem;
    top: 30.5rem;
    background-color: #3a3e3e;
    border-radius: 0.6rem;
  }
  .rectangle-34-NLf {
    background-color: #3d0a0a;
    border-radius: 0.8rem;
    width: 110.1rem;
    height: 53.1rem;
    position: absolute;
    left: 16.9rem;
    top: 46rem;
  }
  .rectangle-36-5ks {
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 23.2rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
  }
  .buddha-dordenma-at-a-height-of-52-metres-buddha-dordenma-is-a-buddha-statue-made-of-bronze-and-plated-in-gold-with-125000-miniature-buddha-statues-encapsulated-inside-it-1uR {
    font-size: 1.6rem;
    font-weight: 900;
    color: #ffffff;
    width: 23.4rem;
    height: 8.8rem;
    position: absolute;
    top: 64rem;
    left: 25.1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';

    .buddha-dordenma-at-a-height-of-52-metres-buddha-dordenma-is-a-buddha-statue-made-of-bronze-and-plated-in-gold-with-125000-miniature-buddha-statues-encapsulated-inside-it-1uR-sub-0 {
    }
    .buddha-dordenma-at-a-height-of-52-metres-buddha-dordenma-is-a-buddha-statue-made-of-bronze-and-plated-in-gold-with-125000-miniature-buddha-statues-encapsulated-inside-it-1uR-sub-1 {
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
    }
    .buddha-dordenma-at-a-height-of-52-metres-buddha-dordenma-is-a-buddha-statue-made-of-bronze-and-plated-in-gold-with-125000-miniature-buddha-statues-encapsulated-inside-it-1uR-sub-2 {
    }
  }
  .rectangle-37-4FR {
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
  }
  .zangto-pelri-lhakhang-C6j {
    top: 89.1rem;
    width: 25.2rem;
    height: 8.1rem;
    position: absolute;
    left: 95.6rem;

    .zangto-pelri-lhakhang-a-private-chapel-built-by-dasho-aku-tongmithe-composer-of-the-national-anthem-of-bhutanzangto-pelri-lhakhang-is-a-replica-of-the-heavenly-abode-of-guru-rinpoche-X91 {
      max-width: 25.2rem;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';

      .zangto-pelri-lhakhang-a-private-chapel-built-by-dasho-aku-tongmithe-composer-of-the-national-anthem-of-bhutanzangto-pelri-lhakhang-is-a-replica-of-the-heavenly-abode-of-guru-rinpoche-X91-sub-0 {
      }
      .zangto-pelri-lhakhang-a-private-chapel-built-by-dasho-aku-tongmithe-composer-of-the-national-anthem-of-bhutanzangto-pelri-lhakhang-is-a-replica-of-the-heavenly-abode-of-guru-rinpoche-X91-sub-1 {
        font-size: 1rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .rectangle-38-YyD {
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 58.4rem;
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
  }
  .rectangle-39-5TM {
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 23.2rem;
    top: 75.9rem;
  }
  .folk-heritage-museum-showcasing-the-heritage-and-rural-history-of-bhutan-through-artefacts-and-works-of-art-the-folk-heritage-museum-houses-exhibits-and-hosts-educational-workshops-and-programs-R1R {
    left: 25.1rem;
    top: 89.1rem;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 24.5rem;
    height: 6.8rem;
    position: absolute;
    font-size: 1.6rem;

    .folk-heritage-museum-showcasing-the-heritage-and-rural-history-of-bhutan-through-artefacts-and-works-of-art-the-folk-heritage-museum-houses-exhibits-and-hosts-educational-workshops-and-programs-R1R-sub-0 {
    }
    .folk-heritage-museum-showcasing-the-heritage-and-rural-history-of-bhutan-through-artefacts-and-works-of-art-the-folk-heritage-museum-houses-exhibits-and-hosts-educational-workshops-and-programs-R1R-sub-1 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
  .simtokha-dzong-the-oldest-buddhist-monastery-in-bhutan-simtokha-dzong-was-built-in-1629-across-three-storeys-with-the-main-sanctum-housing-a-sakyamuni-buddha-statue-flanked-by-eight-bodhisattvas-t3R {
    line-height: 1.2125;
    color: #ffffff;
    width: 25.3rem;
    position: absolute;
    top: 89.1rem;
    font-weight: 900;
    height: 6.8rem;
    left: 60.3rem;
    font-size: 1.6rem;
    font-family: Inter, 'Source Sans Pro';

    .simtokha-dzong-the-oldest-buddhist-monastery-in-bhutan-simtokha-dzong-was-built-in-1629-across-three-storeys-with-the-main-sanctum-housing-a-sakyamuni-buddha-statue-flanked-by-eight-bodhisattvas-t3R-sub-0 {
    }
    .simtokha-dzong-the-oldest-buddhist-monastery-in-bhutan-simtokha-dzong-was-built-in-1629-across-three-storeys-with-the-main-sanctum-housing-a-sakyamuni-buddha-statue-flanked-by-eight-bodhisattvas-t3R-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .rectangle-40-S6s {
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
    top: 51.2rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
  }
  .national-memorial-chorten-built-to-honour-the-third-king-of-bhutan-the-national-memorial-chorten-is-a-white-structure-with-a-golden-finial-and-four-inner-sanctums-each-facing-the-four-cardinal-directions-YQo {
    height: 6.8rem;
    position: absolute;
    top: 64rem;
    line-height: 1.2125;
    color: #ffffff;
    width: 24.9rem;
    left: 95.6rem;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: Inter, 'Source Sans Pro';

    .national-memorial-chorten-built-to-honour-the-third-king-of-bhutan-the-national-memorial-chorten-is-a-white-structure-with-a-golden-finial-and-four-inner-sanctums-each-facing-the-four-cardinal-directions-YQo-sub-0 {
    }
    .national-memorial-chorten-built-to-honour-the-third-king-of-bhutan-the-national-memorial-chorten-is-a-white-structure-with-a-golden-finial-and-four-inner-sanctums-each-facing-the-four-cardinal-directions-YQo-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .rectangle-41-zRD {
    left: 58.4rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
  }
  .tashichho-dzong-housing-the-throne-room-of-his-majesty-the-king-of-bhutan-along-with-major-government-departmental-offices-the-tashichho-dzong-complex-also-has-temples-and-shrines-XAF {
    width: 24.3rem;
    height: 8.8rem;
    position: absolute;
    top: 64rem;
    font-size: 1.6rem;
    font-weight: 900;
    left: 60.3rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';

    .tashichho-dzong-housing-the-throne-room-of-his-majesty-the-king-of-bhutan-along-with-major-government-departmental-offices-the-tashichho-dzong-complex-also-has-temples-and-shrines-XAF-sub-0 {
    }
    .tashichho-dzong-housing-the-throne-room-of-his-majesty-the-king-of-bhutan-along-with-major-government-departmental-offices-the-tashichho-dzong-complex-also-has-temples-and-shrines-XAF-sub-1 {
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
    }
    .tashichho-dzong-housing-the-throne-room-of-his-majesty-the-king-of-bhutan-along-with-major-government-departmental-offices-the-tashichho-dzong-complex-also-has-temples-and-shrines-XAF-sub-2 {
    }
  }
  .rectangle-35-nEb {
    height: 19.3rem;
    position: absolute;
    left: 96.7rem;
    top: 7.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.6rem;
    width: 30.3rem;
  }
  .rectangle-42-6m5 {
    position: absolute;
    left: 25.1rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
  }
  .rectangle-43-RoM {
    top: 77rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 95.6rem;
  }
  .rectangle-44-kaj {
    position: absolute;
    left: 60.3rem;
    top: 77rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
  }
  .rectangle-45-tB9 {
    top: 77rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
  }
  .rectangle-46-Ptb {
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 95.6rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
  }
  .rectangle-47-7Zh {
    height: 11.1rem;
    position: absolute;
    left: 60.3rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
  }
  .thimphu-far-removed-from-rapid-urbanisation-thimphu-the-capital-and-largest-city-of-bhutan-is-surrounded-by-a-himalayan-landscape-complete-with-valleys-rivers-and-mountains-2Rm {
    width: 98.3rem;
    position: absolute;
    left: 18.7rem;
    top: 32.7rem;
    line-height: 1.2125;
    height: 9.7rem;
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';

    .thimphu-far-removed-from-rapid-urbanisation-thimphu-the-capital-and-largest-city-of-bhutan-is-surrounded-by-a-himalayan-landscape-complete-with-valleys-rivers-and-mountains-2Rm-sub-0 {
    }
    .thimphu-far-removed-from-rapid-urbanisation-thimphu-the-capital-and-largest-city-of-bhutan-is-surrounded-by-a-himalayan-landscape-complete-with-valleys-rivers-and-mountains-2Rm-sub-1 {
      font-size: 2rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
}
