
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-jkB {
  padding: 10.4rem 39.1rem 4.9rem 32.9rem;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:19fad14b118358ed13dab19a5180fdae0ffa1578');
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-position: center;

  .auto-group-ivgw-r47 {
    margin: 0rem 0rem 1rem 1.2rem;
    width: 70.6rem;
    height: 61.8rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-28-NYF {
      object-fit: cover;
      vertical-align: top;
      width: 70.6rem;
      height: 48.2rem;
      position: absolute;
      left: 0;
      top: 13.6rem;
    }
    .login-hqR {
      font-family: Inter, 'Source Sans Pro';
      left: 15.5rem;
      top: 0;
      font-size: 13rem;
      color: #1e1e1e;
      line-height: 1.2125;
      white-space: nowrap;
      width: 39.8rem;
      height: 15.8rem;
      position: absolute;
      font-weight: 400;
    }
  }
  .auto-group-y5qj-DYs {
    border-bottom: solid 0.2rem #ffffff;
    box-sizing: border-box;
    font-size: 4rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0rem 0.1rem 5.6rem 0rem;
    width: 71.9rem;
    height: 5rem;
    font-weight: 400;
    flex-shrink: 0;
  }
  .auto-group-vdbm-5b5 {
    line-height: 1.2125;
    box-sizing: border-box;
    margin: 0rem 0rem 3.8rem 0.4rem;
    height: 5rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border-bottom: solid 0.2rem #ffffff;
    flex-shrink: 0;
    width: 71.5999rem;
    font-size: 4rem;
  }
  .forgot-password-9qq {
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 38.0999rem;
    cursor: pointer;
    font-size: 4rem;
    line-height: 1.2125;
    color: #64c3bd;
  }
}
