
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-tTy {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .rectangle-29-12o {
    width: 133.4rem;
    height: 5.7rem;
    position: absolute;
    left: 10.6rem;
    top: 0;
    background-color: #181818;
  }
  .rectangle-29-jUb {
    vertical-align: top;
    width: 11rem;
    height: 5.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .login-or-create-account-g8w {
    width: 14.5rem;
    height: 4.9rem;
    left: 128rem;
    line-height: 1.2125;
    color: #fffcfc;
    cursor: pointer;
    position: absolute;
    top: 0.9rem;
    font-size: 2rem;
    font-weight: 200;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-30-yNw {
    width: 144rem;
    height: 96.7rem;
    position: absolute;
    left: 1.3rem;
    top: 5.2rem;
    background-color: #000000;
  }
  .rectangle-31-unP {
    width: 144rem;
    height: 30.6rem;
    position: absolute;
    left: 0;
    top: 6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-33-FLT {
    border-radius: 0.6rem;
    width: 110.1rem;
    height: 12.2rem;
    position: absolute;
    left: 16.9rem;
    top: 30.5rem;
    background-color: #3a3e3e;
  }
  .gwalior-as-the-cradle-of-indian-culture-and-heritage-for-many-centuries-gwalior-is-a-timeless-treasure-of-art-and-music-the-cityscape-is-adorned-with-historical-monuments-and-a-hilltop-fort-that-are-souvenirs-of-the-dynasties-that-ruled-here-Nvs {
    line-height: 1.2125;
    color: #ffffff;
    left: 16.9rem;
    font-size: 2rem;
    font-weight: 900;
    top: 30.5rem;
    font-family: Inter, 'Source Sans Pro';
    width: 110.2rem;
    height: 11.2rem;
    position: absolute;

    .gwalior-as-the-cradle-of-indian-culture-and-heritage-for-many-centuries-gwalior-is-a-timeless-treasure-of-art-and-music-the-cityscape-is-adorned-with-historical-monuments-and-a-hilltop-fort-that-are-souvenirs-of-the-dynasties-that-ruled-here-Nvs-sub-0 {
      font-size: 3.2rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .gwalior-as-the-cradle-of-indian-culture-and-heritage-for-many-centuries-gwalior-is-a-timeless-treasure-of-art-and-music-the-cityscape-is-adorned-with-historical-monuments-and-a-hilltop-fort-that-are-souvenirs-of-the-dynasties-that-ruled-here-Nvs-sub-1 {
    }
  }
  .rectangle-34-AET {
    top: 45.9rem;
    background-color: #3d0a0a;
    border-radius: 0.8rem;
    width: 110.1rem;
    height: 53.1rem;
    position: absolute;
    left: 16.9rem;
  }
  .rectangle-36-UF9 {
    left: 23.2rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
  }
  .sun-temple-also-known-as-surya-mandir-this-temple-is-dedicated-to-lord-surya-and-was-built-by-famous-industrialist-gd-birla-in-1988-the-temple-draws-architectural-inspiration-from-the-konark-sun-temple-in-orissa-o2X {
    height: 8.7rem;
    position: absolute;
    left: 25.1rem;
    font-size: 2rem;
    line-height: 1.2102272034;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 24.4rem;
    top: 63.1rem;
    font-weight: 900;

    .sun-temple-also-known-as-surya-mandir-this-temple-is-dedicated-to-lord-surya-and-was-built-by-famous-industrialist-gd-birla-in-1988-the-temple-draws-architectural-inspiration-from-the-konark-sun-temple-in-orissa-o2X-sub-0 {
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
    }
    .sun-temple-also-known-as-surya-mandir-this-temple-is-dedicated-to-lord-surya-and-was-built-by-famous-industrialist-gd-birla-in-1988-the-temple-draws-architectural-inspiration-from-the-konark-sun-temple-in-orissa-o2X-sub-1 {
      font-size: 1.1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .rectangle-37-kVV {
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
    top: 75.9rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
  }
  .gujari-mahal-museum-gujar-mahal-lies-within-the-gwalior-fort-and-was-built-by-raja-man-singh-in-the-fifteenth-century-for-his-beloved-wife-rani-mrignayani-the-palace-has-now-been-converted-into-an-archaeological-museum-ge3 {
    position: absolute;
    left: 95.3rem;
    font-size: 1.6rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 24.1rem;
    height: 8.1rem;
    top: 88.6rem;
    font-weight: 900;
    line-height: 1.2125;

    .gujari-mahal-museum-gujar-mahal-lies-within-the-gwalior-fort-and-was-built-by-raja-man-singh-in-the-fifteenth-century-for-his-beloved-wife-rani-mrignayani-the-palace-has-now-been-converted-into-an-archaeological-museum-ge3-sub-0 {
    }
    .gujari-mahal-museum-gujar-mahal-lies-within-the-gwalior-fort-and-was-built-by-raja-man-singh-in-the-fifteenth-century-for-his-beloved-wife-rani-mrignayani-the-palace-has-now-been-converted-into-an-archaeological-museum-ge3-sub-1 {
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .rectangle-38-JJ3 {
    position: absolute;
    left: 59rem;
    top: 75.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
  }
  .teli-ka-mandir-2Uw {
    color: #ffffff;
    left: 60.1rem;
    top: 88.2rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.2rem;
    height: 2rem;
  }
  .teli-ka-mandir-was-built-by-pratihara-emperor-mihira-bhoja-in-the-ninth-century-raided-multiple-times-the-temple-is-believed-to-be-the-oldest-part-of-the-gwalior-fort-and-is-now-restored-as-lord-shiva-temple-YTH {
    height: 6.1rem;
    font-size: 1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 24.5rem;
    position: absolute;
    left: 60.1rem;
    top: 90.1rem;
    font-weight: 900;
    color: #ffffff;
  }
  .rectangle-39-n6j {
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 20.7rem;
    position: absolute;
    left: 23.2rem;
    top: 75rem;
    background-color: #2e2929;
  }
  .tansen-memorial-this-is-the-resting-place-of-tansen-one-of-the-nine-jewels-in-akbars-court-the-revered-musician-was-an-advocate-of-dhrupad-music-style-and-is-believed-to-have-been-instrumental-in-developing-the-gwalior-gharana-of-music-hUb {
    left: 25.1rem;
    font-size: 1rem;
    font-family: Inter, 'Source Sans Pro';
    width: 23.4rem;
    height: 8.1rem;
    position: absolute;
    top: 88.2rem;
    font-weight: 900;
    line-height: 1.2125;
    color: #ffffff;

    .tansen-memorial-this-is-the-resting-place-of-tansen-one-of-the-nine-jewels-in-akbars-court-the-revered-musician-was-an-advocate-of-dhrupad-music-style-and-is-believed-to-have-been-instrumental-in-developing-the-gwalior-gharana-of-music-hUb-sub-0 {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 900;
    }
    .tansen-memorial-this-is-the-resting-place-of-tansen-one-of-the-nine-jewels-in-akbars-court-the-revered-musician-was-an-advocate-of-dhrupad-music-style-and-is-believed-to-have-been-instrumental-in-developing-the-gwalior-gharana-of-music-hUb-sub-1 {
    }
  }
  .rectangle-40-LAB {
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
    position: absolute;
    left: 93.6rem;
    top: 51.2rem;
    background-color: #2e2929;
  }
  .saas-bahu-temple-ruD {
    height: 2rem;
    position: absolute;
    left: 95.6rem;
    top: 63.1rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.2125;
    width: 14.6rem;
    font-family: Inter, 'Source Sans Pro';
    color: #ffffff;
    white-space: nowrap;
  }
  .believed-to-be-originally-called-sahastrabahu-temple-the-sacred-structure-was-built-by-king-mahipal-in-1093-and-worships-lord-vishnu-in-the-padmanabh-form-mmH {
    position: absolute;
    font-size: 1rem;
    font-weight: 900;
    height: 4.9rem;
    left: 95.6rem;
    top: 64.8rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 23.4rem;
  }
  .rectangle-41-R59 {
    position: absolute;
    left: 58.4rem;
    top: 51.3rem;
    background-color: #2e2929;
    border-radius: 0.6rem;
    width: 27.2rem;
    height: 21.3rem;
  }
  .gwalior-fort-he-gwalior-fort-often-called-the-gibralter-of-india-due-to-its-height-and-location-is-perched-upon-a-high-hill-and-dates-back-to-the-eighth-centuryny-temples-and-palaces-the-mang-towalls-MDh {
    position: absolute;
    left: 60.1rem;
    font-weight: 900;
    line-height: 1.2102272034;
    width: 24.3rem;
    height: 8.7rem;
    top: 63.5rem;
    font-size: 1rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';

    .gwalior-fort-he-gwalior-fort-often-called-the-gibralter-of-india-due-to-its-height-and-location-is-perched-upon-a-high-hill-and-dates-back-to-the-eighth-centuryny-temples-and-palaces-the-mang-towalls-MDh-sub-0 {
      font-weight: 900;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
    }
    .gwalior-fort-he-gwalior-fort-often-called-the-gibralter-of-india-due-to-its-height-and-location-is-perched-upon-a-high-hill-and-dates-back-to-the-eighth-centuryny-temples-and-palaces-the-mang-towalls-MDh-sub-1 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.1rem;
      font-weight: 900;
      line-height: 1.2125;
    }
  }
  .rectangle-35-MFd {
    width: 30.3rem;
    height: 19.3rem;
    position: absolute;
    left: 96.7rem;
    top: 7.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.6rem;
  }
  .rectangle-42-H9H {
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
  }
  .rectangle-43-cST {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 95.6rem;
    top: 77rem;
  }
  .rectangle-44-XZR {
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 60.3rem;
    top: 77rem;
    object-fit: cover;
  }
  .rectangle-45-r5u {
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
    left: 25.1rem;
    top: 77rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-46-myZ {
    left: 95.6rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
  }
  .rectangle-47-JyV {
    left: 60.3rem;
    top: 52rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 23.3rem;
    height: 11.1rem;
    position: absolute;
  }
}
