
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-hEF {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-tzt9-SSj {
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    width: 100%;
    height: 5.8rem;
    position: relative;

    .rectangle-29-P75 {
      width: 133.4rem;
      height: 5.7rem;
      position: absolute;
      left: 10.6rem;
      top: 0;
      background-color: #181818;
    }
    .rectangle-29-KWX {
      object-fit: cover;
      vertical-align: top;
      width: 11rem;
      height: 5.7rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .login-or-create-account-s2F {
      left: 128rem;
      font-size: 2rem;
      color: #fffcfc;
      font-family: Inter, 'Source Sans Pro';
      width: 14.5rem;
      height: 4.9rem;
      position: absolute;
      line-height: 1.2125;
      cursor: pointer;
      top: 0.9rem;
      font-weight: 200;
    }
  }
  .auto-group-qfp5-xZV {
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;

    .auto-group-522t-JNT {
      width: 100%;
      height: 36.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-31-F2o {
        width: 144rem;
        height: 30.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-33-yjV {
        border-radius: 0.6rem;
        width: 110.1rem;
        height: 12.2rem;
        position: absolute;
        left: 14.1rem;
        top: 24.3rem;
        background-color: #3a3e3e;
      }
      .rectangle-35-7Ku {
        width: 30.3rem;
        height: 19.3rem;
        position: absolute;
        left: 96.7rem;
        top: 1.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.6rem;
      }
      .jodhpur-known-for-the-magnificent-mehrangarh-fort-famous-palaces-and-lakes-jodhpur-is-a-popular-tourist-destination-divided-into-the-old-city-and-new-city-by-a-10-km-long-wall-dp3 {
        line-height: 1.2102272511;
        left: 17.5rem;
        top: 24.3rem;
        font-size: 2.4rem;
        font-weight: 900;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 105.3rem;
        height: 10.2rem;
        position: absolute;

        .jodhpur-known-for-the-magnificent-mehrangarh-fort-famous-palaces-and-lakes-jodhpur-is-a-popular-tourist-destination-divided-into-the-old-city-and-new-city-by-a-10-km-long-wall-dp3-sub-0 {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 900;
        }
        .jodhpur-known-for-the-magnificent-mehrangarh-fort-famous-palaces-and-lakes-jodhpur-is-a-popular-tourist-destination-divided-into-the-old-city-and-new-city-by-a-10-km-long-wall-dp3-sub-1 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 900;
          line-height: 1.2125;
        }
      }
    }
    .auto-group-qplb-823 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.7rem 23.2rem 5.5rem 24.6rem;
      width: 100%;
      height: 60.2rem;
      align-items: center;

      .auto-group-uu6f-S2j {
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 3.3rem;
        width: 100%;
        display: flex;

        .auto-group-p8jh-Zt3 {
          height: 21.3rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 6.6rem;
          width: 27.2rem;

          .rectangle-34-W2b {
            width: 25.3rem;
            height: 9.5rem;
            position: absolute;
            left: 0.5rem;
            top: 11.8rem;
            background-color: #3d0a0a;
            border-radius: 0.8rem;
          }
          .rectangle-36-RvF {
            left: 0;
            top: 0;
            background-color: #2e2929;
            border-radius: 0.6rem;
            width: 27.2rem;
            height: 21.3rem;
            position: absolute;
          }
          .rectangle-42-xfH {
            border-radius: 0.8rem;
            width: 23.3rem;
            height: 11.1rem;
            position: absolute;
            left: 1.5rem;
            top: 0.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .mehrangarh-fort-built-by-the-rathore-clan-of-jodhpur-in-1460-the-well-presrved-mehrangarh-fort-towers-above-400-feet-overlooking-the-city-gbH {
            height: 5.6rem;
            position: absolute;
            left: 0.5rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 23.1rem;
            top: 12.9rem;
            font-weight: 900;

            .mehrangarh-fort-built-by-the-rathore-clan-of-jodhpur-in-1460-the-well-presrved-mehrangarh-fort-towers-above-400-feet-overlooking-the-city-gbH-sub-0 {
            }
            .mehrangarh-fort-built-by-the-rathore-clan-of-jodhpur-in-1460-the-well-presrved-mehrangarh-fort-towers-above-400-feet-overlooking-the-city-gbH-sub-1 {
              font-size: 1rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-dtmy-aKH {
          display: flex;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.7rem 2rem 0.3rem 1.9rem;
          align-items: center;
          background-color: #2e2929;
          margin-right: 8rem;
          width: 27.2rem;
          flex-direction: column;

          .rectangle-47-Vh9 {
            margin-bottom: 1.1rem;
            width: 23.3rem;
            height: 11.1rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
          .umaid-bhawan-palace-built-by-maharaja-umaid-singh-the-palace-was-made-for-the-welfare-of-the-common-people-at-a-time-of-severe-drought-it-was-converted-to-a-heritage-hotel-in-1977-dHZ {
            flex-shrink: 0;
            margin-right: 1.4rem;
            max-width: 20.9rem;
            font-size: 1rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';

            .umaid-bhawan-palace-built-by-maharaja-umaid-singh-the-palace-was-made-for-the-welfare-of-the-common-people-at-a-time-of-severe-drought-it-was-converted-to-a-heritage-hotel-in-1977-dHZ-sub-0 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 900;
              line-height: 1.2125;
            }
            .umaid-bhawan-palace-built-by-maharaja-umaid-singh-the-palace-was-made-for-the-welfare-of-the-common-people-at-a-time-of-severe-drought-it-was-converted-to-a-heritage-hotel-in-1977-dHZ-sub-1 {
            }
          }
        }
        .auto-group-jqbr-hAw {
          padding: 1.8rem 1.5rem 1.7rem 2rem;
          width: 27.2rem;
          align-items: center;
          flex-direction: column;
          border-radius: 0.6rem;
          margin-bottom: 1rem;
          box-sizing: border-box;
          flex-shrink: 0;
          display: flex;
          background-color: #2e2929;

          .rectangle-46-1SX {
            flex-shrink: 0;
            margin: 0rem 0.4rem 1.2rem 0rem;
            width: 23.3rem;
            height: 11.1rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
          }
          .mandore-garden-located-near-the-old-capital-of-the-rathores-mandore-garden-is-home-to-splendid-architectural-gems-it-is-about-30-minutes-from-jodhpur-city-hq9 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 23.7rem;
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.2125;

            .mandore-garden-located-near-the-old-capital-of-the-rathores-mandore-garden-is-home-to-splendid-architectural-gems-it-is-about-30-minutes-from-jodhpur-city-hq9-sub-0 {
            }
            .mandore-garden-located-near-the-old-capital-of-the-rathores-mandore-garden-is-home-to-splendid-architectural-gems-it-is-about-30-minutes-from-jodhpur-city-hq9-sub-1 {
              font-size: 1rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-q3ep-MoD {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 21.3rem;

        .auto-group-nkxb-i7y {
          border-radius: 0.6rem;
          box-sizing: border-box;
          padding: 1rem 0.5rem 2.4rem 0.5rem;
          width: 27.2rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-right: 6.6rem;
          align-items: center;
          background-color: #2e2929;
          flex-shrink: 0;

          .rectangle-45-E6K {
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 23.3rem;
            height: 11.1rem;
            object-fit: cover;
            vertical-align: top;
          }
          .jaswant-thada-made-in-memory-of-maharaja-jaswant-singh-the-white-marble-building-is-minutes-from-mehrangarh-fort-and-depicts-lovely-sculptures-beautiful-domes-and-a-striking-peacock-memorial-Z8b {
            margin-right: 2.7rem;
            max-width: 23.5rem;
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;

            .jaswant-thada-made-in-memory-of-maharaja-jaswant-singh-the-white-marble-building-is-minutes-from-mehrangarh-fort-and-depicts-lovely-sculptures-beautiful-domes-and-a-striking-peacock-memorial-Z8b-sub-0 {
            }
            .jaswant-thada-made-in-memory-of-maharaja-jaswant-singh-the-white-marble-building-is-minutes-from-mehrangarh-fort-and-depicts-lovely-sculptures-beautiful-domes-and-a-striking-peacock-memorial-Z8b-sub-1 {
              font-size: 1rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-o4qp-C55 {
          padding: 1.1rem 2rem 1.8rem 1.9rem;
          width: 27.2rem;
          height: 100%;
          display: flex;
          flex-shrink: 0;
          margin-right: 8rem;
          box-sizing: border-box;
          background-color: #2e2929;
          border-radius: 0.6rem;
          align-items: center;
          flex-direction: column;

          .rectangle-44-K9h {
            width: 23.3rem;
            height: 11.1rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
          }
          .clock-tower-market-a-vibrant-city-square-within-the-old-city-the-market-is-also-known-as-sardar-market-named-after-the-marwar-ruler-who-commissioned-the-striking-clock-tower-F3M {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.6rem;
            max-width: 22.1rem;
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #ffffff;

            .clock-tower-market-a-vibrant-city-square-within-the-old-city-the-market-is-also-known-as-sardar-market-named-after-the-marwar-ruler-who-commissioned-the-striking-clock-tower-F3M-sub-0 {
            }
            .clock-tower-market-a-vibrant-city-square-within-the-old-city-the-market-is-also-known-as-sardar-market-named-after-the-marwar-ruler-who-commissioned-the-striking-clock-tower-F3M-sub-1 {
              font-size: 1rem;
              font-weight: 900;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-714j-uXD {
          box-sizing: border-box;
          width: 27.2rem;
          height: 100%;
          background-color: #2e2929;
          flex-shrink: 0;
          padding: 1.1rem 1.1rem 0.6rem 2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 0.6rem;

          .rectangle-43-2Lw {
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 23.3rem;
            height: 11.1rem;
          }
          .auto-group-cwyy-9wM {
            margin-left: 0.2rem;
            width: 23.9rem;
            height: 8.5rem;
            position: relative;
            flex-shrink: 0;

            .khejarla-fort-khejarla-fort-is-a-400-year-old-heritage-fort-located-approximately-85-kilometres-from-jodhpur-the-fort-has-been-beautifully-restored-and-transformed-into-a-luxurious-heritage-hotel-offering-visitors-a-chance-to-experience-the-grandeur-and-elegance-of-rajput-architecture-while-enjoying-modern-amenities-ttw {
              position: absolute;
              top: 0;
              font-size: 1.6rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              width: 23.9rem;
              left: 0;
              font-weight: 900;
              color: #ffffff;
              height: 8.5rem;

              .khejarla-fort-khejarla-fort-is-a-400-year-old-heritage-fort-located-approximately-85-kilometres-from-jodhpur-the-fort-has-been-beautifully-restored-and-transformed-into-a-luxurious-heritage-hotel-offering-visitors-a-chance-to-experience-the-grandeur-and-elegance-of-rajput-architecture-while-enjoying-modern-amenities-ttw-sub-0 {
              }
              .khejarla-fort-khejarla-fort-is-a-400-year-old-heritage-fort-located-approximately-85-kilometres-from-jodhpur-the-fort-has-been-beautifully-restored-and-transformed-into-a-luxurious-heritage-hotel-offering-visitors-a-chance-to-experience-the-grandeur-and-elegance-of-rajput-architecture-while-enjoying-modern-amenities-ttw-sub-1 {
                font-size: 0.9rem;
                font-weight: 900;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .frame-1-Dy9 {
              top: 3.6rem;
              overflow: hidden;
              width: 1.7rem;
              height: 1.6rem;
              position: absolute;
              left: 11.1rem;
            }
          }
        }
      }
    }
  }
}
