
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-9-v4o {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:7057e9e195798d67eeb777b43e716eea01fd5bfc');
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;

  .rectangle-48-T4j {
    width: 88.1rem;
    height: 64.6rem;
    position: absolute;
    left: 27.9rem;
    top: 18.9rem;

    .rectangle-48-mr7 {
      width: 100%;
      height: 64.6rem;
      background-color: rgba(45, 43, 43, 0.6999999881);
      border-radius: 1rem;
    }
  }
  .enter-your-email-to-fogot-password-WYo {
    position: absolute;
    left: 45.6rem;
    top: 24.1rem;
    font-size: 6rem;
    color: #d5ec44;
    font-family: Inter, 'Source Sans Pro';
    width: 54.9rem;
    height: 14.6rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .rectangle-49-bq9 {
    position: absolute;
    left: 45.6rem;
    top: 43.7rem;
    background-color: #fbfbfb;
    border-radius: 0.6rem;
    width: 54.9rem;
    height: 10rem;
  }
  .reset-password-84P {
    left: 54.1rem;
    font-size: 5rem;
    font-weight: 400;
    color: #67b9be;
    white-space: nowrap;
    width: 37.9rem;
    height: 6.1rem;
    position: absolute;
    top: 58.7rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .cancel-dWw {
    width: 16.3rem;
    position: absolute;
    left: 63.8rem;
    color: #68b9be;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 6.1rem;
    top: 66.7rem;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2125;
  }
}
