
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-tjH {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-8-tjH .rectangle-29-cvB {
  width: 133.4rem;
  height: 5.7rem;
  position: absolute;
  left: 10.6rem;
  top: 0;
  background-color: #181818;
}
.desktop-8-tjH .rectangle-29-9QK {
  width: 11rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-8-tjH .login-or-create-account-s5R {
  width: 14.5rem;
  height: 4.9rem;
  cursor: pointer;
  position: absolute;
  left: 128rem;
  top: 0.9rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #fffcfc;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .rectangle-30-KTD {
  width: 144rem;
  height: 96.7rem;
  position: absolute;
  left: 0;
  top: 5.7rem;
  background-color: #000000;
}
.desktop-8-tjH .rectangle-31-G7Z {
  width: 144rem;
  height: 30.6rem;
  position: absolute;
  left: 0;
  top: 6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-8-tjH .rectangle-33-bQj {
  width: 110.1rem;
  height: 12.2rem;
  position: absolute;
  left: 16.9rem;
  top: 30.5rem;
  background-color: #3a3e3e;
  border-radius: 0.6rem;
}
.desktop-8-tjH .rectangle-34-G15 {
  width: 110.1rem;
  height: 53.1rem;
  position: absolute;
  left: 16.9rem;
  top: 46rem;
  background-color: #3d0a0a;
  border-radius: 0.8rem;
}
.desktop-8-tjH .rectangle-36-yRH {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 23.2rem;
  top: 51.3rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-8-tjH .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko {
  width: 22.6rem;
  height: 8.8rem;
  position: absolute;
  left: 25.6rem;
  top: 64.4rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko-sub-0 {
}
.desktop-8-tjH .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko .virupaksha-temple-popular-for-being-an-active-temple-since-the-7th-century-virupaksha-temple-is-located-on-the-southern-side-of-river-tungabhadra-and-is-an-important-pilgrimage-centre-for-shiva-devotees-6ko-sub-2 {
}
.desktop-8-tjH .rectangle-37-Y8w {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 93.6rem;
  top: 75.9rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-8-tjH .rectangle-38-247 {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 58.4rem;
  top: 75.9rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-8-tjH .rectangle-39-YYF {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 23.2rem;
  top: 75.9rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-8-tjH .hampi-bazaar-once-a-thriving-market-place-bordered-by-living-quarters-of-the-erstwhile-nobles-the-hampi-bazaar-extends-from-the-virupaksha-temple-to-the-foot-of-the-matunga-hill-fsm {
  width: 24.4rem;
  height: 6.8rem;
  position: absolute;
  left: 25.1rem;
  top: 90.1rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .hampi-bazaar-once-a-thriving-market-place-bordered-by-living-quarters-of-the-erstwhile-nobles-the-hampi-bazaar-extends-from-the-virupaksha-temple-to-the-foot-of-the-matunga-hill-fsm .hampi-bazaar-once-a-thriving-market-place-bordered-by-living-quarters-of-the-erstwhile-nobles-the-hampi-bazaar-extends-from-the-virupaksha-temple-to-the-foot-of-the-matunga-hill-fsm-sub-0 {
}
.desktop-8-tjH .hampi-bazaar-once-a-thriving-market-place-bordered-by-living-quarters-of-the-erstwhile-nobles-the-hampi-bazaar-extends-from-the-virupaksha-temple-to-the-foot-of-the-matunga-hill-fsm .hampi-bazaar-once-a-thriving-market-place-bordered-by-living-quarters-of-the-erstwhile-nobles-the-hampi-bazaar-extends-from-the-virupaksha-temple-to-the-foot-of-the-matunga-hill-fsm-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .rectangle-40-JJT {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 93.6rem;
  top: 51.2rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-8-tjH .rectangle-41-d5q {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 58.4rem;
  top: 51.3rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-8-tjH .vittala-temple-dedicated-to-lord-vishnu-and-home-to-the-fascinating-musical-pillars-and-the-incomparable-stone-chariot-the-vittala-temple-complex-is-a-major-attraction-in-the-city-YyV {
  width: 24.7rem;
  height: 6.8rem;
  position: absolute;
  left: 60.7rem;
  top: 64.4rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .vittala-temple-dedicated-to-lord-vishnu-and-home-to-the-fascinating-musical-pillars-and-the-incomparable-stone-chariot-the-vittala-temple-complex-is-a-major-attraction-in-the-city-YyV .vittala-temple-dedicated-to-lord-vishnu-and-home-to-the-fascinating-musical-pillars-and-the-incomparable-stone-chariot-the-vittala-temple-complex-is-a-major-attraction-in-the-city-YyV-sub-0 {
}
.desktop-8-tjH .vittala-temple-dedicated-to-lord-vishnu-and-home-to-the-fascinating-musical-pillars-and-the-incomparable-stone-chariot-the-vittala-temple-complex-is-a-major-attraction-in-the-city-YyV .vittala-temple-dedicated-to-lord-vishnu-and-home-to-the-fascinating-musical-pillars-and-the-incomparable-stone-chariot-the-vittala-temple-complex-is-a-major-attraction-in-the-city-YyV-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .rectangle-35-DCT {
  width: 30.3rem;
  height: 19.3rem;
  position: absolute;
  left: 96.7rem;
  top: 7.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
}
.desktop-8-tjH .rectangle-42-Xyq {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 25.1rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-8-tjH .rectangle-43-f4T {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 95.6rem;
  top: 76.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-8-tjH .rectangle-44-mNP {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 60.3rem;
  top: 77rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-8-tjH .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19 {
  width: 23.2rem;
  height: 8.8rem;
  position: absolute;
  left: 60.3rem;
  top: 90.1rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19 .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19-sub-0 {
}
.desktop-8-tjH .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19 .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19 .coracle-ride-the-round-cane-boats-called-coracles-have-been-an-important-source-of-transportation-in-the-city-since-the-15th-century-it-is-a-must-do-activity-in-hampi-h19-sub-2 {
}
.desktop-8-tjH .sasivekalu-ganesha-temple-the-sasivekalu-ganesha-temple-houses-an-eight-feet-tall-statue-of-lord-ganesha-the-huge-statue-is-carved-out-of-a-single-rock-i4f {
  width: 23.2rem;
  height: 5.6rem;
  position: absolute;
  left: 95.7rem;
  top: 90.1rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .sasivekalu-ganesha-temple-the-sasivekalu-ganesha-temple-houses-an-eight-feet-tall-statue-of-lord-ganesha-the-huge-statue-is-carved-out-of-a-single-rock-i4f .sasivekalu-ganesha-temple-the-sasivekalu-ganesha-temple-houses-an-eight-feet-tall-statue-of-lord-ganesha-the-huge-statue-is-carved-out-of-a-single-rock-i4f-sub-0 {
}
.desktop-8-tjH .sasivekalu-ganesha-temple-the-sasivekalu-ganesha-temple-houses-an-eight-feet-tall-statue-of-lord-ganesha-the-huge-statue-is-carved-out-of-a-single-rock-i4f .sasivekalu-ganesha-temple-the-sasivekalu-ganesha-temple-houses-an-eight-feet-tall-statue-of-lord-ganesha-the-huge-statue-is-carved-out-of-a-single-rock-i4f-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .rectangle-45-ZjV {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 25.1rem;
  top: 77rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-8-tjH .rectangle-46-hKu {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 95.6rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-8-tjH .rectangle-47-Dp3 {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 60.3rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-8-tjH .pattabhirama-temple-located-about-15-minutes-away-from-the-hampi-ruins-the-glorious-pattabhirama-temple-is-dedicated-to-lord-rama-and-is-known-for-its-complex-architecture-jGb {
  width: 22.1rem;
  height: 6.8rem;
  position: absolute;
  left: 96.7rem;
  top: 64.4rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-8-tjH .pattabhirama-temple-located-about-15-minutes-away-from-the-hampi-ruins-the-glorious-pattabhirama-temple-is-dedicated-to-lord-rama-and-is-known-for-its-complex-architecture-jGb .pattabhirama-temple-located-about-15-minutes-away-from-the-hampi-ruins-the-glorious-pattabhirama-temple-is-dedicated-to-lord-rama-and-is-known-for-its-complex-architecture-jGb-sub-0 {
}
.desktop-8-tjH .pattabhirama-temple-located-about-15-minutes-away-from-the-hampi-ruins-the-glorious-pattabhirama-temple-is-dedicated-to-lord-rama-and-is-known-for-its-complex-architecture-jGb .pattabhirama-temple-located-about-15-minutes-away-from-the-hampi-ruins-the-glorious-pattabhirama-temple-is-dedicated-to-lord-rama-and-is-known-for-its-complex-architecture-jGb-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
