
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-7-asq {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-7-asq .rectangle-29-JYw {
  width: 133.4rem;
  height: 5.7rem;
  position: absolute;
  left: 10.6rem;
  top: 0;
  background-color: #181818;
}
.desktop-7-asq .rectangle-29-qom {
  width: 11rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-asq .login-or-create-account-yQB {
  width: 14.5rem;
  height: 4.9rem;
  position: absolute;
  left: 128rem;
  top: 0.9rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #fffcfc;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .rectangle-30-fno {
  width: 144rem;
  height: 96.7rem;
  position: absolute;
  left: 0;
  top: 5.7rem;
  background-color: #000000;
}
.desktop-7-asq .rectangle-31-p9u {
  width: 144rem;
  height: 30.6rem;
  position: absolute;
  left: 0;
  top: 6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-7-asq .rectangle-33-M9q {
  width: 110.1rem;
  height: 12.2rem;
  position: absolute;
  left: 16.9rem;
  top: 30.5rem;
  background-color: #3a3e3e;
  border-radius: 0.6rem;
}
.desktop-7-asq .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF {
  width: 103.7rem;
  height: 12.7rem;
  position: absolute;
  left: 20.3rem;
  top: 32.8rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF-sub-0 {
}
.desktop-7-asq .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF-sub-1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF .pushkar-home-to-rare-temples-shrines-and-picturesque-locations-pushkar-in-rajasthan-is-where-tourists-throng-to-find-their-peace-and-lose-themselves-in-the-rare-beauty-of-mother-nature-UkF-sub-2 {
}
.desktop-7-asq .rectangle-34-W4f {
  width: 110.1rem;
  height: 53.1rem;
  position: absolute;
  left: 16.9rem;
  top: 46rem;
  background-color: #3d0a0a;
  border-radius: 0.8rem;
}
.desktop-7-asq .rectangle-36-EFZ {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 23.2rem;
  top: 51.3rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-7-asq .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy {
  width: 22.2rem;
  height: 9.3rem;
  position: absolute;
  left: 25.1rem;
  top: 64.8rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy-sub-0 {
}
.desktop-7-asq .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy-sub-1 {
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy .brahma-temple-brahma-the-creator-of-universe-is-a-revered-god-in-this-temple-in-pushkar-the-temple-is-famous-for-attracting-lakhs-of-pilgrims-every-year-Mqy-sub-2 {
}
.desktop-7-asq .rectangle-37-dBD {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 93.6rem;
  top: 75.9rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-7-asq .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh {
  width: 24.7rem;
  height: 8.8rem;
  position: absolute;
  left: 96rem;
  top: 89.7rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh-sub-0 {
}
.desktop-7-asq .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh .merta-city-merta-is-an-ancient-city-near-pushkar-known-for-witnessing-many-historic-battles-in-the-past-this-is-also-the-birthplace-of-famous-poetess-and-krishnas-devotee-meerabai-whh-sub-2 {
}
.desktop-7-asq .rectangle-38-hio {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 58.4rem;
  top: 75.9rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-7-asq .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM {
  width: 24.4rem;
  height: 8.8rem;
  position: absolute;
  left: 61.2rem;
  top: 89.7rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM-sub-0 {
}
.desktop-7-asq .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM .rangji-temple-one-of-the-oldest-temples-in-pushkar-rangji-temple-is-dedicated-to-lord-rangjian-incarnation-of-lord-vishnu-the-architecture-here-is-an-amalgamation-of-dravidian-mughal-and-rajputana-styles-DBM-sub-2 {
}
.desktop-7-asq .rectangle-39-Ekf {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 23.2rem;
  top: 75.9rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-7-asq .rectangle-40-AuD {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 93.6rem;
  top: 51.2rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-7-asq .savitri-temple-WCP {
  width: 22.7rem;
  height: 7.8rem;
  position: absolute;
  left: 96.2rem;
  top: 64.8rem;
}
.desktop-7-asq .savitri-temple-WCP .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH {
  max-width: 24.7rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .savitri-temple-WCP .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH-sub-0 {
}
.desktop-7-asq .savitri-temple-WCP .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .savitri-temple-WCP .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH .savitri-temple-tucked-on-the-ratnagiri-hill-savitri-temple-attracts-devotees-with-its-interesting-folklore-the-trek-to-the-top-of-ratnagiri-hill-could-be-tiresome-but-it-is-believed-to-wash-away-the-sins-of-devotees-EPH-sub-2 {
}
.desktop-7-asq .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV {
  width: 23.9rem;
  height: 6.8rem;
  position: absolute;
  left: 25.5rem;
  top: 89.7rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV-sub-0 {
}
.desktop-7-asq .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV .pushkar-lake-located-in-the-ajmer-district-of-rajasthan-pushkar-lake-has-a-beautiful-mythological-story-attached-to-it-thousands-of-pilgrimage-throng-here-for-the-famous-pushkar-fair-GDV-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .rectangle-41-9Rh {
  width: 27.2rem;
  height: 21.3rem;
  position: absolute;
  left: 58.4rem;
  top: 51.3rem;
  background-color: #2e2929;
  border-radius: 0.6rem;
}
.desktop-7-asq .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd {
  width: 21.4rem;
  height: 8.8rem;
  position: absolute;
  left: 60.3rem;
  top: 64.8rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd-sub-0 {
}
.desktop-7-asq .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-7-asq .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd .apteshwar-temple-dedicated-to-lord-shiva-this-place-too-has-a-lot-of-significance-for-its-mythological-roots-dating-back-to-the-12th-century-it-is-believed-that-this-temple-was-built-by-lord-brahma-gRd-sub-2 {
}
.desktop-7-asq .rectangle-35-wF5 {
  width: 30.3rem;
  height: 19.3rem;
  position: absolute;
  left: 96.7rem;
  top: 7.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.6rem;
}
.desktop-7-asq .rectangle-42-FmZ {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 25.1rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-7-asq .rectangle-43-nWb {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 95.6rem;
  top: 77rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-7-asq .rectangle-44-tpX {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 60.3rem;
  top: 77rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-7-asq .rectangle-45-ogb {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 25.1rem;
  top: 77rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-7-asq .rectangle-46-8D5 {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 95.6rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.desktop-7-asq .rectangle-47-r95 {
  width: 23.3rem;
  height: 11.1rem;
  position: absolute;
  left: 60.3rem;
  top: 52rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
