
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 22.9rem;
}.dwarkadhish-temple-dedicated-to-lord-krishna-this-temple-is-known-for-its-elaborate-rajasthani-architectural-designs-and-the-magnificently-carved-idol-of-krishna-in-black-marble-with-rukmini-in-white-StP {
  width: 100%;
  height: 6.8rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #fdf8f8;
  font-family: Inter, 'Source Sans Pro';
}
.dwarkadhish-temple-dedicated-to-lord-krishna-this-temple-is-known-for-its-elaborate-rajasthani-architectural-designs-and-the-magnificently-carved-idol-of-krishna-in-black-marble-with-rukmini-in-white-StP .dwarkadhish-temple-dedicated-to-lord-krishna-this-temple-is-known-for-its-elaborate-rajasthani-architectural-designs-and-the-magnificently-carved-idol-of-krishna-in-black-marble-with-rukmini-in-white-StP-sub-0 {
}
.dwarkadhish-temple-dedicated-to-lord-krishna-this-temple-is-known-for-its-elaborate-rajasthani-architectural-designs-and-the-magnificently-carved-idol-of-krishna-in-black-marble-with-rukmini-in-white-StP .dwarkadhish-temple-dedicated-to-lord-krishna-this-temple-is-known-for-its-elaborate-rajasthani-architectural-designs-and-the-magnificently-carved-idol-of-krishna-in-black-marble-with-rukmini-in-white-StP-sub-1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #fdf8f8;
  font-family: Inter, 'Source Sans Pro';
}
